@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Familjen+Grotesk:wght@400;500;600;700&display=swap');

:root {
	--section-desktop-padding: 4.8rem;
	--section-mobile-padding: 2rem;
	--dynamic-desktop-height: 67.5rem;
	--dynamic-mobile-height: 50rem;
}

section#falcon-9-section-a {
	background-image: url('../img/falcon-9/section-a__desktop.jpg');
	animation: fade-in-section-a 0.35s ease;
}

@keyframes fade-in-section-a {
	0% {
		background-image: linear-gradient(black, black);
	}

	100% {
		background-image: url('../img/falcon-9/section-a__desktop.jpg');
	}
}

.falcon-9-section-a__content {
	padding: 19rem 0 5rem;
	margin: auto;
	visibility: visible;
}

.falcon-9-section-a__content--title,
.falcon-9-section-b__stats--item__title,
.falcon-9-section-b__overview--carousel-container__carousel--item__title {
	font-size: calc(5rem + 3.08vw);
	font-family: 'Familjen Grotesk';
}

.falcon-9-section-a__content--para,
.falcon-9-section-b__stats--item__para {
	margin-top: 1.5rem;
}

.falcon-9-section-a__content--title,
.falcon-9-section-a__content--para {
	text-align: center;
	animation: section-a 0.4s ease-in-out;
	animation-fill-mode: both;
}

@keyframes section-a {
	0% {
		top: 5rem;
		opacity: 0;
	}

	100% {
		top: 0rem;
		opacity: 1;
	}
}

.falcon-9-section-b__about {
	z-index: 5 !important;
}

.falcon-9-section-b__about,
.falcon-9-section-b__overview {
	margin: 0 calc(var(--section-desktop-padding) * -1);
}

.falcon-9-section-b__about--text{
	margin: 0 var(--section-desktop-padding);
}

.falcon-9-section-b__stats {
	/*max-width: 80rem;*/
	/*margin: auto;*/
	margin: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.falcon-9-section-b__stats--item {
	margin: 0 calc(3rem + 2.31vw);
}

.falcon-9-section-b__stats--item__title {
	font-size: calc(7rem + 4.62vw);
	font-weight: 400;
	font-family: Barlow;
}

.falcon-9-section-b__stats--item__title,
.falcon-9-section-b__stats--item__para,
.falcon-9-section-b__about--text,
.falcon-9-section-b__overview p,
.falcon-9-section-b__overview--carousel-container__carousel--item__title {
	opacity: 1;
	color: white;
	text-align: center;
	position: initial;
}

.falcon-9-section-b__about,
.falcon-9-section-b__overview--carousel-container__carousel--item {
	background-repeat: no-repeat;
	/*background-position: center bottom;*/
	background-position: 60% 0%;
	background-size: cover;
}

.falcon-9-section-b__about {
	height: var(--dynamic-desktop-height);
	display: flex;
	align-items: center;
	background-image: url('../img/falcon-9/section-b__about.jpg');
}

.falcon-9-section-b__about--text {
	max-width: 50rem;
}

.falcon-9-section-b__about--text {
	text-align: initial;
	line-height: 1.8;
}

.falcon-9-section-b__overview {
	height: var(--dynamic-desktop-height);
	color: white;
	position: relative;
	/*transform: translateY(calc(var(--dynamic-desktop-height) * -1));*/
	z-index: 3 !important;
}

.falcon-9-section-b__overview--carousel-container {
	height: inherit;
	overflow: hidden;
	position: relative;
}

.falcon-9-section-b__overview--carousel-container__carousel {
	height: inherit;
	/*transform: translateX(-1263px);*/
	transition: transform 0.35s ease-in-out;
}

.falcon-9-section-b__overview--carousel-container__carousel--item {
	height: inherit;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 var(--section-desktop-padding);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.falcon-9-section-b__overview p {
	text-align: initial;
	font-size: 1.5rem;
	line-height: 1.8;
	font-weight: 500;
}

.falcon-9-section-b__overview--carousel-container span {
	color: #868686;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__para,
.falcon-9-section-b__overview--carousel-container__carousel--item__desc--title {
	font-size: 1.8rem !important;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__title {
	text-align: initial;
	font-size: 4.5rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item > * {
	max-width: 55rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__para--title {
	margin-bottom: 2rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__records--left__right p,
.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content__records--left__right {
	font-size: 1.4rem;
	font-weight: 600;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__records--left__right,
.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content__records--left__right {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 0;
}

.falcon-9-section-b__overview--carousel-container__carousel--item.carousel-1-item-1 {
	background-image: url('../img/falcon-9/carousel-1-background-1.jpg');
}

.falcon-9-section-b__overview--carousel-container__carousel--item.carousel-1-item-2 {
	background-image: url('../img/falcon-9/carousel-1-background-2-1.jpg');
}

.falcon-9-section-b__overview--carousel-container__carousel--item.carousel-1-item-3 {
	background-image: url('../img/falcon-9/carousel-1-background-3.jpg');
}

.falcon-9-section-b__overview--carousel-container__carousel--item.carousel-1-item-4 {
	background-image: url('../img/falcon-9/carousel-1-background-4.jpg');
}

.falcon-9-section-b__overview--carousel-container__carousel--item.carousel-1-item-5 {
	background-image: url('../img/falcon-9/carousel-1-background-5-1.jpg');
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid #525254;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content {
	display: none;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content.show-content {
	display: block;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu {
	display: flex;
	margin: 2rem 0 3rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item {
	padding: 0 1.2rem;
	position: relative;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item:first-child {
	padding-left: 0;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item#carousel-1__nav-item-1-2::before,
.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item#carousel-1__nav-item-1-2::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	width: 0.2rem;
	height: 50%;
	background-color: #868686;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item#carousel-1__nav-item-1-2::before {
	left: -0.1rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item#carousel-1__nav-item-1-2::after {
	right: -0.1rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item__nav-link:link,
.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item__nav-link:visited {
	color: #868686;
	font-size: 1.8rem;
	/*font-weight: 600;*/
}

.active.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item__nav-link:link,
.active.falcon-9-section-b__overview--carousel-container__carousel--item__nav-menu--nav-item__nav-link:visited {
	color: white;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content p {
	margin-bottom: 1rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content__records,
.falcon-9-section-b__overview--carousel-container__carousel--item__records {
	margin-top: 2rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content__records:last-child {
	margin-top: 5rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content__records--left__right {
	margin: 0.7rem 0;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content.content-1:last-child a {
	position: relative;
	padding-right: 1.3rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content.content-1:last-child a svg {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-40%);
	transition: all 0.3s ease-in-out;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__content-container--content.content-1:last-child a:hover svg {
	right: 0;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__desc {
	margin-bottom: 1rem;
}

.falcon-9-section-b__overview--carousel-container__carousel--item__desc--title {
	margin: 1.5rem 0;
}

.falcon-9-section-b__overview--carousel-container__icon-container {
	position: absolute;
	top: 95%;
	transform: translateY(-50%);
	width: calc(100% - 10rem);
	margin: 0 5rem;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}

.carousel-btn {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

/*.carousel-btn.left {
	left: 5rem;
}

.carousel-btn.right {
	right: 5rem;
}*/

.carousel-btn svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*color: white;*/
}

.carousel-btn.disabled,
.carousel-btn.disabled svg path {
	fill: #3F3F3F;
	cursor: initial;
}

.falcon-9-section-b__overview--carousel-container__indicator-container {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	z-index: 2;
}

.falcon-9-section-b__overview--carousel-container__indicator-container--indicator {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #3F3F3F;
	margin: 0 0.5rem;
	cursor: pointer;
}

.falcon-9-section-b__overview--carousel-container__indicator-container--indicator.active {
	background-color: white;
}

@media screen and (max-width: 960px) {
	section {
		padding: 0 var(--section-mobile-padding);
	}
	.falcon-9-section-b__stats--item {
		margin: 0 calc(1.5rem + 1.15vw);
	}

	.falcon-9-section-b__stats--item__para {
		font-size: calc(1.3rem + 0.23vw);
	}

	.falcon-9-section-b__stats--item__title {
		font-size: calc(3rem + 2.31vw);
	}

	.falcon-9-section-b__about,
	.falcon-9-section-b__overview {
		margin: 0 calc(var(--section-mobile-padding) * -1);
	}

	.falcon-9-section-b__about--text{
		margin: 0 var(--section-mobile-padding);
	}

	.falcon-9-section-b__overview--carousel-container__carousel--item {
		padding: 0 var(--section-mobile-padding);
	}

	.falcon-9-section-b__about {
		height: var(--dynamic-mobile-height);
	}

	.falcon-9-section-b__overview {
		height: 900px;
	}

	.falcon-9-section-b__overview--carousel-container__carousel--item {
		/*background-position: center top;*/
		background-position: 60% 0%;
		background-size: auto var(--dynamic-mobile-height);
		justify-content: flex-end;
	}

	.falcon-9-section-b__overview--carousel-container__carousel--item > * {
		max-width: 100%;
	}

	.falcon-9-section-b__overview--carousel-container__carousel--item__top-background {
		height: var(--dynamic-mobile-height);
	}

	.falcon-9-section-b__overview--carousel-container__icon-container {
		top: 60%;
		right: 5rem;
		width: 5rem;
		margin: 0;
	}

	.carousel-btn {
		width: 1rem;
		height: 1rem;
	}

	.falcon-9-section-b__overview--carousel-container__indicator-container {
		display: none;
	}
}