@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Familjen+Grotesk:wght@400;500;600;700&display=swap');

:root {
	font-size: 62.5%;
	min-height: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Familjen Grotesk';
	min-height: 100%;
}

img {
	object-fit: cover;
}

a {
	font-size: 1.6rem;
	text-decoration: none;
	color: white;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 3.4rem 4.8rem;
	align-items: center;
	transform-origin: top;
	transition: all 0.35s ease;
	background-color: transparent;
}

.nav.hide-nav {
	transform: scaleY(0);
}

.nav.hide-nav .nav__nav-items-container--nav-item {
	opacity: 0;
}

.nav.add-background {
	background-color: black;
}

.nav__logo-container {
	width: 20rem;
}

.nav__logo-container--logo {
	width: 100%;
}

.nav__nav-items-container {
	display: flex;
	align-items: center;
}

.nav__nav-items-container--nav-item:link,
.nav__nav-items-container--nav-item:visited {
	margin: 0 1rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	padding: 0.3rem 0;
	position: relative;
}

.nav__nav-items-container--nav-item::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1rem;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.6s cubic-bezier(0.25, 1, 0.25, 1);
}

.nav__nav-items-container--nav-item:hover::after,
.nav__nav-items-container--nav-item:active::after {
	transform: scaleX(1.0);
	transform-origin: left;
	transition-duration: 0.4s;
}

.nav__nav-items-container a:nth-child(9) {
	margin-right: 4rem;
}

.nav__nav-items-container--hamburger-container {
	width: 2rem;
	margin: 0 1.5rem;
	z-index: 10;
	cursor: pointer;
	height: 1.2rem;
	display: flex;
	align-items: center;

	position: fixed;
	right: 2.5rem;
	top: 5.2rem;
	transform: translateY(-50%);
}

.nav__nav-items-container--hamburger-container__hamburger {
	width: 100%;
	height: 0.2rem;
	background-color: white;
	position: relative;
}

.active .nav__nav-items-container--hamburger-container__hamburger {
	visibility: hidden;
}

.nav__nav-items-container--hamburger-container__hamburger::before,
.nav__nav-items-container--hamburger-container__hamburger::after {
	content: '';
	position: absolute;
	width: 100%;
	height: inherit;
	background-color: inherit;
	transition: all 0.35s ease-in-out;
	visibility: visible;
}

.nav__nav-items-container--hamburger-container__hamburger::before {
	top: -0.5rem;
}

.active .nav__nav-items-container--hamburger-container__hamburger::before {
	top: 0;
	transform: rotate(-405deg);
}

.nav__nav-items-container--hamburger-container__hamburger::after {
	top: 0.5rem;
}

.active .nav__nav-items-container--hamburger-container__hamburger::after {
	top: 0;
	transform: rotate(405deg);
}

.nav__menu {
	position: fixed;
	background-color: black;
	top: 0;
	right: 0;
	width: calc(25rem + 3.85vw);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 8rem 4rem 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.35s ease-in-out;
	z-index: 5;
}

.nav__menu.open {
	transform: scaleX(1.0);
}

.nav__menu--menu-item {
	text-align: right;
	padding: 1rem 0;
	border-bottom: 1px dotted rgb(37, 37, 37);
	font-size: 1.8rem;
	font-weight: 300;
	font-family: Barlow;
	opacity: 0;
	transition: all 0.35s ease-in-out;
}

.open .nav__menu--menu-item {
	opacity: 1;
}

.nav__menu--menu-item.mobile {
	display: none;
}

.nav__overlay {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 3;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
}

.nav__overlay.show-overlay {
	top: 0;
	opacity: 1;
}

section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 100vh;
	/*min-height: 65rem;*/
	padding: 0 4.8rem;
	overflow: hidden;
}

section#section-a {
	background-image: url('../img/home/section-a__desktop.jpg');
}

section#section-b {
	background-image: url('../img/home/section-b__desktop.jpg');
}

section#section-c {
	background-image: url('../img/home/section-c__desktop.webp');
}

section#section-d {
	background-image: url('../img/home/section-d__desktop.webp');
}

.section-a__content,
.section-b__content,
.section-c__content,
.section-d__content,
.falcon-9-section-a__content {
	/*position: relative;*/
	/*left: 4.8rem;*/
	padding: 30rem 0 5rem;
	color: white;
	max-width: 50rem;
}

.section-a__content--para,
.section-b__content--para,
.falcon-9-section-a__content--para,
.falcon-9-section-b__stats--item__para {
	font-size: calc(1.6rem + 0.31vw);
	/*font-weight: 500;*/
	font-family: Barlow;
	position: relative;
	/*top: 3rem;*/
	top: 4rem;
	opacity: 0;
	transition: all 0.35s ease-in-out;
}

.section-a__content--heading,
.section-b__content--heading,
.section-c__content--heading,
.section-d__content--heading,
.falcon-9-section-a__content--title,
.falcon-9-section-b__stats--item__title {
	font-size: calc(3rem + 1.38vw);
	font-family: Barlow;
	position: relative;
	/*top: 3rem;*/
	/*animation: section-a 0.4s ease-in-out 0.2s;
	animation-fill-mode: both;*/
	top: 4rem;
	opacity: 0;
	transition: all 0.35s ease-in-out;
}

.section-a__content--button,
.section-b__content--button,
.section-c__content--button,
.section-d__content--button {
	border: 2px solid white;
	padding: 1.8rem;
	background-color: transparent;
	color: white;
	width: 16rem;
	font-weight: 600;
	font-family: Barlow;
	margin-top: 1rem;
	cursor: pointer;
	position: relative;
	z-index: 1;
	/*transition: all 0.35s ease-in-out;*/
	position: relative;
	/*top: 3rem;*/
	/*animation: section-a 0.4s ease-in-out 0.4s;
	animation-fill-mode: both;*/
	top: 4rem;
	opacity: 0;
	transition: all 0.35s ease-in-out;
}

.fade-in .animate-para,
.fade-in .animate-heading,
.fade-in .animate-button {
	opacity: 1;
	top: 0;
}

.section-a__content--button:hover,
.section-b__content--button:hover,
.section-c__content--button:hover,
.section-d__content--button:hover {
	color: black;
}

.section-a__content--button::after,
.section-b__content--button::after,
.section-c__content--button::after,
.section-d__content--button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: -1;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.35s ease-in-out;
}

.section-a__content--button:hover::after,
.section-b__content--button:hover::after,
.section-c__content--button:hover::after,
.section-d__content--button:hover::after {
	transform: scaleY(1.0);
	transform-origin: bottom;
}

.section-a__svg,
.section-b__svg,
.section-c__svg {
	background-color: transparent;
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
	animation: section-svg 5s ease-in-out infinite;
}


@keyframes section-svg {
	0%,
	20%,
	50%,
	80%,
	100% {
		opacity: 0;
		bottom: 3.5rem;
	}

	40% {
		opacity: 1;
		bottom: 3rem;
	}
}

footer {
	background-color: black;
	padding: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.footer__copyright-container {
	color: rgb(151, 151, 151);
}

.footer__link-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer__link-container--link,
.footer__copyright-container{
	font-size: 1.2rem;
	/*display: inline-block;*/
	margin: 0.5rem 2rem;
	transition: all 0.45s ease-in-out;
}

.footer__link-container--link:hover {
	color: rgb(151, 151, 151);
}

@media screen and (max-width: 1180px) {
	.nav {
		padding: 3.4rem 3rem;
	}
}

@media screen and (max-width: 1150px) {
	.nav {
		padding-top: 2rem;
		justify-content: center;
		/*background-color: black;*/
	}

	.nav__logo-container {
		width: 15rem;
	}

	.nav__nav-items-container--nav-item {
		display: none;
	}

	.nav__nav-items-container--hamburger-container {
		top: 3.3rem;
		transform: translateY(-50%);
	}

	.nav__menu {
		padding-top: 5rem;
	}

	/*.nav__menu--menu-item {
		font-size: 1.6rem;
		padding: 0.7rem 0;
	}*/

	.nav__menu--menu-item.mobile {
		display: inline-block;
	}
}

@media screen and (max-width: 960px) {
	section#section-a {
		background-image: url('../img/home/section-a__mobile.jpg');
	}

	section#section-b {
		background-image: url('../img/home/section-b__mobile.jpg');
	}

	section#section-c {
		background-image: url('../img/home/section-c__mobile.webp');
	}

	section#section-d {
		background-image: url('../img/home/section-d__mobile.webp');
	}
}

@media screen and (max-width: 600px) {
	.nav {
		padding: 2rem 2rem;
	}
	section {
		padding: 0 2rem;
	}
}

@media screen and (max-width: 400px) {
	.nav__menu--menu-item {
		font-size: 1.6rem;
		padding: 0.7rem 0;
	}
}

